extends layout

block content

	.main
		.contents
			h1.title Whatever
			button.button-1 Launch
	script.
		$('.button-1').click(function() {
			console.log('test');
			$('.contents').fadeOut(function() {
				$.post('/create?image=keshavdv/izanamee', function(data){
					setTimeout(function(){ 
						var iframe = $('<iframe src="/term?taskId=' + data.id + '" frameborder="0" scrolling="no"></iframe>');
						$('.contents').html(iframe).hide().fadeIn();
					}, 5000);
				
				})
			})
		})

