extends layout

block content

	.main
		.contents
			h1.title Gru
			button.button-1 Launch Minion
	script.
		$('.button-1').click(function() {
			console.log('test');
			var msgs = ['Filling fart gun...', 
						'Charging shrink ray...', 
						'Targeting moon...',
						 'Claiming pony...', 
						 'Reading bedtime story...',
						 'Tailoring turtleneck...',
						 'Skipping leg day...',
						 'Recruiting minions...',
						 'Squashing bugs...',
						 'Arming security protocol...',
						 'Cooking up cookiebots...',
						 'Launching surveillance satellite...',
						 'Pitching Lehman brothers...',
						 'Training daughters...',
						 'Practicing pirouette...',
						 //- 'Sketching ',
						 'Walking Kyle around the block...'
						 ];
			$('.contents').fadeOut(function() {
				$.post('/create?image=keshavdv/izanamee', function(data){
					var retry = setInterval(function(){
						msg = msgs[Math.floor(Math.random()*msgs.length)]
						var loading = $('<p class="loading">' + msg + '</p>');
						$('.contents').html(loading).hide().fadeIn();
						console.log('loop');
						$.post('/status?taskId=' + data.id, function(data) {
							if(data.status == "running") {
								var iframe = $('<h1 class="logo">Gru</h1><iframe src="/term?taskId=' + data.id + '" frameborder="0" scrolling="no"></iframe>');
								$('.contents').fadeOut().html(iframe).hide().fadeIn();
								clearInterval(retry);
							}
						})
					}, 3000);

				})
			})
		})

