doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src='/javascripts/vendor/term.js')
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io('http://' + location.host, {query: 'taskId=satya'});
    script(src='/javascripts/script.js')
  body
    block content
