doctype html
html
	head
		title Whatever
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src='/javascripts/vendor/term.js')
		script(src='/socket.io/socket.io.js')
	body
		block content
